*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #03103b;
    color: #be7474;
}


section {
  scroll-margin-top: 100px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: hsl(221, 82%, 15%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-bottom: 15px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #38bdf8;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

#home {
  padding: 80px 3px;
  box-sizing: border-box;
}

.home_page img {
  width: 100%;
  height: auto;        
  border-radius: 20px; 
  display: block;
  object-fit: cover;
}


#stats {
  padding: 20px 8%;
  text-align: center;
  background: #06163c;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.stat-box {
  background: #03103b;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  border: 1px solid #051681;
  transition: 0.3s;
}

.stat-box:hover {
  box-shadow: 0 0 20px  #03896e;
}

.stat-box h3 {
  font-size: 35px;
  color: #00ffcc;
}

.stat-box p {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}




#cyberSafety {
  padding: 30px 5%;
  text-align: center;
}

.section-title {
  font-size: 45px;
  color: #00ffcc;
  margin-bottom: 30px;
}

.safety-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.safety-card {
  background: #0b1f4d;
  padding: 15px;
  width: 450px;
  border-radius: 15px;
  border: 1px solid #00ffcc;
  transition: 0.3s;
}

.safety-card:hover {
  box-shadow: 0 0 20px #03896e;
}

.safety-card h3 {
  color: #00ffcc;
  font-size: 27px;
  margin-bottom: 10px;
}

.safety-card p {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}


#digitalRights {
  padding: 50px 3%;
  background: linear-gradient(135deg, #03103b, #0b1f4d);
  text-align: center;
}

.section-title {
  font-size: 45px;
  color: #00ffcc;
  margin-top: 100px;
  margin-bottom: 40px;
}

.rights-content {
  max-width: 900px;
  margin: auto;
  text-align: left;
  font-size: 18px;
  line-height: 1.8;
  color: white;
}

.rights-content p {
  margin-bottom: 25px;
  font-size: 20px;
  padding: 15px;
  border-left: 4px solid #00ffcc;
  transition: 0.3s;
  border-radius: 10px;
}

.rights-content p:hover {
  background: #0b1f4d;
  box-shadow: 0 0 15px #01614e;
  transform: translateX(10px);
}

.rights-content span {
  color: #00ffcc;
  font-weight: bold;
}



#report {
  padding: 40px 8%;
  text-align: center;
}

.report-container {
  max-width: 600px;
  margin: auto;
}

.report-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.report-form input,
.report-form select,
.report-form textarea {
  padding: 12px;
  border-radius: 10px;
  border: .9px solid #081c18;
  background: #0b1f4d;
  color: white;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.report-form input:focus,
.report-form select:focus,
.report-form textarea:focus {
  box-shadow: 0 0 15px #025444;
}

.report-form textarea {
  height: 120px;
  resize: none;
}

.report-form button {
  padding: 12px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  background: #fefefe;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.report-form button:hover {
  background: rgb(219, 215, 215);
  box-shadow: 0 0 20px #016753;
  transform: scale(1.05);
}



#about{
  padding: 120px 8%;
  text-align: center;
  background: #0b1f4d;
}

.about-title{
  font-size: 45px;
  color: #00ffcc;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.about-container{
  max-width: 900px;
  margin: auto;
  text-align: left;
}

.about-container p{
  font-size: 22px;
  line-height: 1.8;
  margin-bottom: 25px;
  padding: 15px;
  border-left: 4px solid #036854;
  border-radius: 10px;
  transition: 0.3s ease;
  background: #03103b;
}

.about-container p:hover{
  transform: translateX(10px);
  box-shadow: 0 0 15px #014f3f;
}

.about-container strong{
  color: #358a79;
}